<div id="container">
	<h1>Resto trop bon!</h1>
	<div class="foodshow-container">
		<p> <%= image_tag 'arrowleft.png', class: "prev", onclick:"plusSlides(-1)"%> </p>
		
		<div class= 'myFood fade' style = "display:block">
			<%= image_tag 'food.jpg'%>
		</div>

		<div class= 'myFood fade'>
			<%= image_tag 'food1.jpg'%>
		</div>

		<div class= 'myFood fade'>
			<%= image_tag 'food2.jpg'%>
		</div>

		<div class= 'myFood fade'>
			<%= image_tag 'food3.jpg'%>
		</div>

		<p> <%= image_tag 'arrowright.png', class: "next", onclick:"plusSlides(1)"%> </p>
	</div>

	<div class="dots" style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span> 
		<span class="dot" onclick="currentSlide(2)"></span> 
		<span class="dot" onclick="currentSlide(3)"></span>
		<span class="dot" onclick="currentSlide(4)"></span>  
	</div>


	<!-- Tab links -->
	<div class="tab">
		<button class="tablinks" onclick="openTab(event, 'Presentation')">Presentation</button>
		<button class="tablinks" onclick="openTab(event, 'Menu')">Menu</button>
		<button class="tablinks" onclick="openTab(event, 'Contact')">Contact</button>
	</div>

	<!-- Tab content -->
	<div id="Presentation" class="tabcontent">
		<h3>Presentation</h3>
		<p>Un super resto !! En plus c'est gratuit</p>
	</div>

	<div id="Menu" class="tabcontent">
		<h3>Menu</h3>
		<p>Pleins de bonnes choses à manger</p>
	</div>

	<div id="Contact" class="tabcontent">
		<h3>Contact</h3>
		<p>Tu plonges et c'est la première à droite</p>
	</div> 
</div>
